services:
  frontend:
    build: .
    ports:
      - 8080:80
    networks:
      - web-network
    volumes:
      - ./html:/usr/share/nginx/html
  database:
    image: redis:alpine
    networks:
      - web-network


networks:
  web-network:
    driver: bridge
