services:
  frontend:
    build: .
    ports:
      - 8080:5000
    depends_on:
      - database
    networks:
      - web-network

  database:
    image: redis:alpine
    networks:
      - web-network
    volumes:
      - redis-data:/data

networks:
  web-network:
    driver: bridge

volumes:
  redis-data:
